nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
main {
    display: inline-block;
    width: 55%;
    height: 100%;
    padding: 20px;
    background-color: #f0f0f0;
}
section{
    background-color: #333;
    color: #fff;
    padding: 5px;
}

aside {
    background-color: #e0e0e0;
    display: inline-block;
    vertical-align: top;
    width: 37%;
    padding: 38px;
    padding-bottom: 185px;
    padding-top: 300px;
}
aside ul{
    margin-top: 2%;
}
aside ul li{
    margin-top: 2%;
}
.footer{
    padding-bottom:59px;
}
@media only screen and (max-width: 600px) {
    main, aside {
        display: block;
        width: 100%;
    }
}
section{
    animation: sliderr 7s infinite;
}
.slider{
    width: 800px;
    height: 500px;
    overflow: hidden;

    border-radius: 10px;
    text-align: center;
}

.navigation-bar{
    display: flex;
    position: relative;
    bottom: 35px;
    left: 90%;
    transform: translate(-50%);
}

input{
    display: none;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #fff;
    transition: 0.4s;
}

.slides{
    display: flex;
    width: 400%;
    height: 100%;
}

.slide{
    width: 33.33%;
    transition: 0.5s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -33.333%;
}

#radio3:checked ~ .first{
    margin-left: -66.66%;
}

